Source: ubuntu-sdk-tools
Section: devel
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com> 
Build-Depends: debhelper (>= 9),
               dh-golang,
               golang-go,
               golang-websocket-dev,
               golang-github-lxc-lxd-dev,
               golang-github-pborman-uuid-dev,
               golang-yaml.v2-dev,
Standards-Version: 3.9.6
Homepage: https://launchpad.net/ubuntu-sdk-tools
Vcs-Browser: https://bazaar.launchpad.net/~ubuntu-sdk-team/ubuntu-sdk-tools/trunk/files
Vcs-Bzr: lp:ubuntu-sdk-tools
XS-Go-Import-Path: launchpad.net/ubuntu-sdk-tools

Package: ubuntu-sdk-tools
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: 
 TODO: long description
